@charset "UTF-8";

/* 공통스타일 정의 */
body{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}
img{display: block;}

.inner{width: 1100px; margin: auto; position: relative; min-width: 1100px;}

/* 버튼 공통 */
.btn{
    width: 100px; padding: 10px;
    border: 2px solid #333; border-radius: 4px;
    color: #333; font-size: 14px; font-weight: 700;
    text-align: center; cursor: pointer; box-sizing:border-box;
    display: inline-block;transition: all 0.4s;
}

.btn:hover{background: #333; color: #fff; text-decoration: underline;}

/* 색반전 버튼 */
.btn--reverse{background: #333; color: #fff;}
.btn--reverse:hover{background: transparent; color: #333;}

/* 그린색 버튼 */
.btn--green{background: #00704a; color: #fff; border: 2px solid #00704a;margin-right: 8px ;}
.btn--green:hover{text-decoration: underline;background: #00704a;}

/* 골드버튼 */
.btn--gold{color: #b9813e;border-color: #b9813e;}
.btn--gold:hover{color: #fff;background: #b9813e;}


/* 화이트버튼 */
.btn--white{color: #fff;border-color: #fff;}
.btn--white:hover{color: #C1D42E;background: #fff; }
.btn--white-line{border-color: #fff; color: #fff; background: #1e3932;}
.btn--white-line:hover{text-decoration: underline;background: #1e3932;}
.btn--white-line-egift{ width: 210px; color: #fff;border-color: #fff; background: #1e3932;}
.btn--white-line-egift:hover{ text-decoration: underline;background: #1e3932;}

/* =================spay================= */
.back-to-position{opacity: 1; transition: all 1s;}

/* 왼 => 오 */
.back-to-position.to-right{transform: translateX(150px);}

/* 오 => 왼 */
.back-to-position.to-left{transform: translateX(150px);}

/* .show가 붙으면 서서히 보이게 제자리로 */
.show .back-to-position{opacity: 1;transform: translateX(0);}

/* 등장순서 */
.show .back-to-position.delay-0{transition-delay: 0s;}
.show .back-to-position.delay-1{transition-delay: 0.3s;}
.show .back-to-position.delay-2{transition-delay: 0.6s;}
.show .back-to-position.delay-3{transition-delay: 0.9s;}


/* ======================================= */

/* 공통끝--------------------------------------- */

/* HEADER Area */
header{width: 100%; background-color: #f6f5f0; border-bottom: 1px solid #c8c8c8; position: fixed; top: 0; z-index: 10;}
header > div.inner{height: 120px;}
header .logo{height: 75px; position: absolute; top: 0; bottom: 0; margin: auto;}


/* sub-menu Area------------------- */
header div.sub-menu{display: flex; position: absolute; right: 0; top: 10px;font-family: Arial, Helvetica, sans-serif;}
header div.sub-menu ul.menu{display: flex;}
header div.sub-menu ul.menu li{position: relative;}
header div.sub-menu ul.menu li::before{content: ""; display: block; width: 1px; height: 12px; background: #e5e5e5; position: absolute; top: 0; bottom: 0; margin: auto;}
header div.sub-menu ul.menu li:first-child:before{display: none;}
header div.sub-menu ul.menu li a{font-size: 12px; display: block; padding: 11px 16px; color: #656565;}
header div.sub-menu ul.menu li a:hover{color: #000;}


/* 검새창 */
header .search{height: 34px; position: relative;}
header .search input{width: 34px; height: 34px; border: 1px solid #ccc; border-radius: 5px; outline: 0; color: #777; transition: width 0.4s; text-indent: 10px;}
header .search input:focus{width: 190px; border-color: #669900;}
header .search .material-icons{height: 24px; position: absolute; top: 0; bottom: 0; margin: auto; right: 5px; transition: opacity 0.4s;}

header .search.focused .material-icon{opacity: 0;}

/* main menu Area---------------------------------------- */
header nav ul.main-menu{display: flex;position: absolute;bottom: 0;right:0;z-index: 1;}
header nav ul.main-menu li.item div.item__name{padding: 10px 20px 34px 20px;font-family: Arial, Helvetica, sans-serif;font-size: 13px;cursor: pointer;}
header nav ul.main-menu li.item:hover div.item__name{background: #2c2a29;color: #669900;border-radius: 6px 6px 0 0;text-decoration: underline;}


/* 서브메뉴 */
header nav ul.main-menu li.item div.item__contents{width: 100%;position: fixed;left: 0;display: none;} /**/
header nav ul.main-menu li.item:hover div.item__contents{display: block;}


/* 서브메뉴 1층 */
header nav ul.main-menu li.item .contents__menu{background: #2c2a29;}
header nav ul.main-menu li.item .contents__menu ul.inner{display: flex; padding: 20px 0;}
header nav ul.main-menu li.item .contents__menu ul.inner li{width: 220px;}
header nav ul.main-menu li.item .contents__menu ul.inner li > h4{font-size: 14px; color: #fff; font-weight: bold;}

header nav ul.main-menu li.item .contents__menu ul.inner li > ul > li{color: #999; font-size: 12px;cursor: pointer;padding: 5px 0;}
header nav ul.main-menu li.item .contents__menu ul.inner li > ul > li:hover{color: #669900;}

/* 서브메뉴 2층 */
header nav ul.main-menu li.item .contents_texture{background: url(../images/main_menu_pattern.jpg); font-size: 12px;}
header nav ul.main-menu li.item .contents_texture div.inner{padding: 25px 0;}
header nav ul.main-menu li.item .contents_texture h4{color: #999; font-weight: 700;}
header nav ul.main-menu li.item .contents_texture p{color: #669900; margin: 4px 0 14px;}

/* 뱃지영역 */
.bagtges{position: absolute; top: 132px; right: 10px;}
.bagtges div img{border-radius: 10px; margin-bottom: 10px;box-shadow: 4px 4px 10px rgba(0,0,0,0.3); cursor: pointer;}


/* mian visual Area------------------------------------ */
.visual{ width: 100%; background: url(../images/2022_Summer2_main_bg.jpg) no-repeat; margin-top: 120px; background-position: center; background-size: cover;}
.visual .inner{height: 646px;}
.visual .title{position: absolute; top: 200px; left: -100px;}
.visual .title .btn{position: absolute;top: 259px; left: 173px;}

.visual .coffee1 .cup1.image{width: 300px; position: absolute; top: 70px;bottom: 0; left: 290px;}
.visual .coffee2 .cup2.image{width: 300px; position: absolute; top: 150px;bottom: 0; right: 310px;}
.visual .coffee3 .cup3.image{width: 300px; position: absolute; top: 70px;bottom: 0; right: 10px;}

.visual .fade-in{opacity: 0;}

/* 공지사항 Area------------------------------------------------ */
.notice .notice-line{position: relative;}
.notice .notice-line .bg-left{position: absolute;top: 0;left: 0;width: 50%;height: 100%;background: #000;}
.notice .notice-line .bg-right{position: absolute;top: 0;right: 0;width: 50%;height: 100%;background: #f6f5ef;}

.notice .notice-line .inner{height: 62px;display: flex;}

/* 왼쪽 */
.notice .notice-line .inner .inner__left{width: 50%;height:100%;background:#000;display: flex;align-items: center;}
.notice .notice-line .inner .inner__left h2{color: #fff;font-size: 17px;margin-right: 20px;}
.notice .notice-line .inner .inner__left .swiper{flex: 1;height: 62px;display: flex;}
/* flex1은 flex-grow(늘려주는속성)와 같다 */
.notice .notice-line .inner .inner__left .swiper .swiper-slide{height: 62px;display: flex;align-items: center;}
.notice .notice-line .inner .inner__left .swiper .swiper-slide a{color: #fff;}

.notice .notice-line .inner .inner__left .notice-line__more{display: flex;width: 62px;height: 62px;justify-content: center;align-items: center;}

.notice .notice-line .inner .inner__left .notice-line__more .material-icons{color: #fff;}

/* 오른쪽 */
.notice .notice-line .inner .inner__right{width: 40%;height: 100%;display: flex;justify-content: flex-end;align-items: center;}
.notice .notice-line .inner .inner__right h2{font-size: 17px;font-weight: 700;}
.notice .notice-line .inner .inner__right .toggle-promotion{width: 62px;height: 62px;cursor: pointer;display: flex;justify-content: center;align-items: center;}
.notice .notice-line .inner .inner__right .toggle-promotion .material-icons{font-size: 30px;}

/* promotion안에 있는 swiper 슬라이드 */
.notice .promotion{height: 693px;background: #f6f5ef;position: relative;overflow: hidden;transition: height 0.4s;}

/* toggle버튼으로 class를 뗏다 붙였다 하는 스크립트 */
.notice .promotion.hide{height: 0;}

/* 819 * 3 + 20 =  2477*/
.notice .promotion .swiper{width: calc(819px * 3 + 20px);height: 600px;top: 40px;left: 50%;margin-left: calc((819px * 3 + 20px) / -2);}

/* 이미지 투명도 적용 */
.notice .promotion .swiper .swiper-slide{opacity: 0.5;transition: opacity 1s;position: relative;width: 819px;}
.notice .promotion .swiper .swiper-slide-active{opacity: 1;}

/* 더보기 버튼 */
.notice .promotion .swiper .swiper-slide .btn{position: absolute;bottom: 40px;left: 0;right: 0;margin: auto;}

/* pagination */
.notice .promotion .swiper-pagination{bottom: 0;left: 0;right: 0;z-index: 5;}
.notice .promotion .swiper-pagination .swiper-pagination-bullet{background: url(../images/promotion_slide_pager.png);width: 12px;height: 12px;background-color: transparent;}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active{background: url(../images/promotion_slide_pager_on.png);}

/* 이전다음버튼 */
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next{width: 42px;height: 42px;border: 2px solid #333;border-radius: 50%;position: absolute;top: 270px;z-index: 1;cursor: pointer;display: flex;justify-content: center;align-items: center;transition: all 0.4s;}
.notice .promotion .swiper-prev{left: 50%;margin-left: -480px;}
.notice .promotion .swiper-next{right: 50%;margin-right: -480px;}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover{background: #333;color: #fff;}

/* REWARDS Area---------------------------------------- */
.rewards{padding-top: 30px; padding-bottom: 25px;background:#1E3932;}
.rewards .inner{max-width: 1080px; margin: 0 auto;}
.rewards .inner .new-rewards_logo{float: left; width: 16.3%; margin-left: 40px; margin-right: 40px; text-align: center;}
.rewards .inner .new-rewards_logo img{width: 176px;}
.rewards .inner .new-rewards_conts{ box-sizing:border-box; color: #fff; padding-left: 129px;letter-spacing:0.5px;}
.rewards .inner .new-rewards_conts .info-cont{position: relative; margin-bottom: 22px; border-bottom: 1px solid #4b615b;}
.rewards .inner .new-rewards_conts .info-cont .info-cont_txt{margin-bottom: 12px;}
.rewards .inner .new-rewards_conts .info-cont .info-cont_txt h2{line-height: 1.4; margin-bottom: 12px;font-size: 26px;font-weight: normal;}
.rewards .inner .new-rewards_conts .info-cont .info-cont_txt strong{font-weight: bold;}
.rewards .inner .new-rewards_conts .info-cont .info-cont_txt p{line-height: 1.4; font-size: 17px;}
.rewards .inner .new-rewards_conts .info-cont .info-cont_txt p strong{font-weight: bold;}
.rewards .inner .new-rewards_conts .info-cont .btn-signin_group{position: absolute; bottom: 20px; right: 0;}
.rewards .inner .new-rewards_conts .gift-cont{position: relative; margin-bottom: 22px;}
.rewards .inner .new-rewards_conts .gift-cont p{line-height: 1.4; font-size: 14px;}
.rewards .inner .new-rewards_conts .gift-cont p strong{font-weight: bold;}
.rewards .inner .new-rewards_conts .gift-cont .btn_egift{position: absolute; bottom: 0px; right: 0;}



/* SEASON PRODUCT */
.main-bean_wrap {position: relative; height: 572px; background: url(../images/2022_Summer2_bean_bg.jpg); background-size: cover;}
.main-bean_wrap .inner{width: 1100px;position: relative;min-width: 1100px;margin: auto; top: 80px;}
.main-bean_wrap .inner .bean_img_box{}
.main-bean_wrap .inner .bean_img_box img{vertical-align: top;}

.main-bean_wrap .inner .bean_txt_box{position: absolute; top: 110px; right: 30px;}
.main-bean_wrap .inner .bean_txt_box img{margin-bottom: 40px;}
.main-bean_wrap .inner .bean_txt_box .btn--white{position: absolute;right: 370px;}



/* RESERVE COFFEE------------------------------------ */
.reserve-coffee_wrap {position: relative; height: 400px; background: url(../images/reserve_2022_rwanda_sholi_bg_with_cup.jpg) center no-repeat; background-size: cover; }
.reserve-coffee_wrap .inner{position: relative;width: 1100px;margin: auto;}
.reserve-coffee_wrap .reserve_title img{position: absolute; padding-top: 115px;margin-right: auto; box-sizing: border-box;left: 0;}
.reserve-coffee_wrap::before {content: url(../images/reserve_2022_rwanda_sholi_bg_left.png);position: absolute; left: 0; top: 0;}
.reserve-coffee_wrap::after {content: url(../images/reserve_2022_rwanda_sholi_bg_right.png);position: absolute; right: 0; top: 0;}

.reserve-coffee_wrap .btn--gold{position: absolute;margin-top: 270px;box-sizing: border-box;margin-left:275px;}


/* PICK YOUR FAVORITE------------------------------------ */
.pick-your-favorite{background: url(../images/favorite_bg.jpg) center center fixed no-repeat; background-size: auto 100%; height: 800px; padding: 0; position: relative; }
.pick-your-favorite .inner .text-group{ width: 360px;}
